$font-stack:    Helvetica, sans-serif;
$primary-color: balck;
 body {
    text-align: center;
  }
  html,main{
    background: rgba(240, 240, 240, 0.856);
    
    height: 100%
}
form {
    display: inline-block;
    margin: 2%;
    font: 100% $font-stack;
    color: $primary-color;
    bottom:0;
    width:100%;
    height:60px;  
    right: 30%;

}

#methods{
  overflow: hidden;
  margin-top: 3%;
  right: 30px;

  label{
    background: white;
    margin: 10px;
    padding: 0.5%;
  }
  label:hover {
    background: none;
  }
 input, label{
  position: relative;
  margin: 0.5%;
  float: left;

}
#body{
  width: 60%;
  padding: 1.5%;
  margin: 0%;
  align-items: center;

}
}


#enter-url{
  #url{
  width: 60%;
  height: 20px;
  float: left;
  margin-right: 10px;
  }
  button{
    margin-right: 30%;
    
  }
  button:hover{
    background-color:rgb(131, 89, 230);
  }

}

