$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(165, 44, 44);

#history{
color: rgb(201, 3, 141);
background-color: rgb(23, 158, 192);
padding: 2%;
position: relative;
bottom: 60px;
font-size: 30px;
cursor: grab;
}