
$font-stack:    Helvetica, sans-serif;
$primary-color: balck;
body {
    text-align: center;
    background: rgba(255, 253, 253, 0.856);

}

#show{
    position: absolute;
    text-align: left;
    // background: rgba(231, 224, 224, 0.336);
    border: 2px solid black;
    margin: 5%;
    margin-top: 3%;
    height: 5%;
    padding: 10%;
    width: 70%;
    right: 0.5%;
}